<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:fb="http://ogp.me/ns/fb#" lang="en">
    <head>
        <title>UCM Course Scheduler (Unoffiial)</title>
        <link id="phone-stylesheet" rel="stylesheet" type="text/css" media="screen and (max-width: 899px)" href="phone.css" />
        <link id="wide-stylesheet" rel="stylesheet" type="text/css" media="screen and (min-width: 900px)" href="wide.css" />


        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <script src="http://s.codepen.io/assets/libs/modernizr.js" type="text/javascript"></script>
        <link rel="shortcut icon" type="image/png" href="favicon.png"/>
        <meta property="og:image" type="image/png" content="http://ucm.karinaantonio.com/fbpreview-new.png"/>
        <meta property="og:image:width" content="1920"/>
        <meta property="og:image:height" content="912"/>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
        <script src="http://linkbroker.hu/stuff/kolorwheel.js/KolorWheel.min.js"></script>
        <link type="text/css" media="screen" rel="stylesheet" href="responsive-tables.css" />
        <script type="text/javascript" src="responsive-tables.js"></script>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-65531453-1', 'auto');
          ga('send', 'pageview');
        </script>

        <script src="app.js"></script>
    </head>
    <body ng-app="courser" ng-controller='courseListCtrl'>
        <div>
           <img src="logo.png" alt="Logo" class="center" id="logo">
        </div>
        <div class="container" id="scheduler">
            <div class="row">

                    <div id="calendar">
                        <div class="cal_header" id="space">&nbsp</div>
                        <span class="cal_header" id="mon">Monday</span>
                        <span class="cal_header" id="tues">Tuesday</span>
                        <span class="cal_header" id="wed">Wednesday</span>
                        <span class="cal_header" id="thur">Thursday</span>
                        <span class="cal_header" id="fri">Friday</span>
                        <div id="time_holder">
                            <div class="time" id="7a">7 am</div>
                            <div class="time" id="8a">8 am</div>
                            <div class="time" id="9a">9 am</div>
                            <div class="time" id="10a">10 am</div>
                            <div class="time" id="11a">11 am</div>
                            <div class="time" id="12p">12 pm</div>
                            <div class="time" id="1p">1 pm</div>
                            <div class="time" id="2p">2 pm</div>
                            <div class="time" id="3p">3 pm</div>
                            <div class="time" id="4p">4 pm</div>
                            <div class="time" id="5p">5 pm</div>
                            <div class="time" id="6p">6 pm</div>
                            <div class="time" id="7p">7 pm</div>
                            <div class="time" id="8p">8 pm</div>
                            <div class="time" id="9p">9 pm</div>
                            <div class="time" id="10p">10 pm</div>
                            <div class="time" id="11p">11 pm</div>
                        </div>
                    </div>


                    <div id="coursedumpholder">
                        <p class="help-block" id="pastedir" for="coursedump"><b>Scroll down and click on a course to add it. Or, insert text containing CRNs here. <span id="moreinfobutton"><br>More info</span></b><span id="moreinfo"><br>You can even copy and paste the text from the Add/Drop Classes page of myRegistration! CRNs are automatically saved for the next time you visit.<br>Note that <b>this is just for <i>planning</i> your schedule—you'll still have to enter the CRNs on <a href="https://pbanssb.ucmerced.edu/pls/PROD/twbkwbis.P_WWWLogin?ret_code=R">myRegistration.</a></b></span></p>
                        <textarea class="form-control" id="coursedump"></textarea>
                        <button type="submit" ng-click="parseDump()" class="button">Add all</button>
                        <button type="submit" ng-mouseup="clear()" ng-show="scheduledCourses.length > 0" class="button">Clear calendar</button>
                        <!--<button type="submit" ng-mouseup="undo()" ng-show"">Undo {{actions[actions.length-1]['type']}}</button>-->
                        <div id="clist">

                        </div>
                    </div>

            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <form class="form-inline" id="browse">
                        <div class="form-group" id="searchgroup">
                            <div class="input-group" id="search">
                                <label for="search">Enter CRN, Course #, Course Title, Subject, or Instructor:</label>
                                <input class="form-control input-lg" type="text" ng-model="course">
                            </div>
                            <div>
                                <label class="checkbox-inline"><input type="checkbox" ng-model="filter['litAll']"/>Show entire catalog</label>
                                <label class="checkbox-inline"><input type="checkbox" ng-model="filter['closed']"/>Show closed classes</label>
                                <label class="checkbox-inline"><input type="checkbox" ng-model="filter['incTBD']"/>Show classes with time TBD</label>
                            </div>
                            <div class="input-group" id="seldep">
                                <label for="seldep">Department:</label>
                                <select class="form-control" id="departmentname" ng-init="filter['department'] = departments[0]" ng-model="filter['department']" ng-options="department as department for department in departments"></select>
                            </div>
                        </div>
                        <div class="form-group" id="searchopts">

                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="center">
            <p ng-if="loading" id="loading"><b>Loading course list...</b></p>
        </div>
        <div class="container-fluid" id="searchresults">
            <table class="table responsive table-striped table-hover" id="table" style="width:100%">
                <tr style="background-color:#10458B; color:white">
                    <th style="text-align: center; width: 190px">Course Number</th>
                    <th style="text-align: center">CRN</th>
                    <th style="text-align: center; width: 230px">Department</th>
                    <th class="ctitle" style="text-align: center">Title</th>
                    <th style="text-align: center; width:30px">Units</th>
                    <th style="text-align: center">Activity</th>
                    <th style="text-align: center; width:65px">Days</th>
                    <th style="text-align: center; width:125px">Time</th>
                    <th style="text-align: center; width:110px">Location</th>
                    <th style="text-align: center; width:130px">Term</th>
                    <th style="text-align: center; width: 220px">Instructor</th>
                    <th style="border-right-style: none">Seats: </th>
                    <th style="border-left-style: none; border-right-style: none" class="tnum">Max</th>
                    <th style="border-left-style: none; border-right-style: none" class="tnum">Taken</th>
                    <th style="border-left-style: none" class="enrl">Open</th>
                </tr>
                <tr class="courserow" data-crn="{{course.CRN}}" ng-style="listColor(course.CRN)" ng-repeat="course in courses | filter: filter['department'] : filterByDepartment | filter: filterInClosed | filter: filterInTBD | filter:course | filter:limitAll : true" ng-if="course.actv != 'EXAM'" ng-mouseup="toggleSchedule(course)">
                    <td style="text-align: center">{{course.cnum}}</td>
                    <td style="text-align: center">{{course.CRN}}</td>
                    <td style="text-align: center">{{course.department}}</td>
                    <td class="ctitle">{{course.ctitle}}</td>
                    <td class="tcenter tnum">{{course.units}}</td>
                    <td style="text-align: center">{{course.actv}}</td>
                    <td style="text-align: center">{{course.days}}</td>
                    <td style="width:110px">{{course.time | timeCorrect}}</td>
                    <td style="text-align: center">{{course.loc}}</td>
                    <td style="text-align: center">{{course.term}}</td>
                    <td style="border-right-style: none; width: 220px">{{course.instructor}}</td>
                    <td style="width:0px; border-left-style: none">&nbsp;</td>
                    <td class="tnum">{{course.max_enrl}}</td>
                    <td class="tnum">{{course.act_enrl}}</td>
                    <td class="tnum">{{course.seats_avail}}</td>
                </tr>
            </table>
        </div>
        <div class="center" id="showbar" ng-show="!loading && !filter['litAll'] && filter['department'] == 'All' && !reachedEnd && (courses | filter:course).length > 0">
            <div id="all" ng-click="filter['litAll'] = true"><text>Show all</text></div><div id="more" ng-click="allLimit= allLimit+30"><text>Show more</text></div>
        </div>
        <div class="center" id="noresults" ng-if="(courses | filter:course).length == 0">
            No courses found. Try checking typos or search options like Show closed classes!
        </div>
    </body>
</html>
