#calendar {
    width: 100%;
    height: 1040px;
    padding-top: 30px;
    float: left;
}

#scheduler {
    width: 100%;
}

#logo{
    max-width: 1200px;
    max-height: 196px;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#loading {
    background-color: white;
}

#showbar{
    height: 40px;
    color: white;
    font-weight: 500;
}

#all{
    background-color: #10458B;
    border-right: 1px solid white;
    height: 39px;
    cursor: pointer;
    padding-left:calc(8%);
    padding-right:calc(8%);
    margin-left: 9%;
    padding-top: .5em;
    float:left;
    text-align: center;
}
#more{
    background-color: #10458B;
    border-left-style: none;
    height: 39px;
    cursor: pointer;
    padding-left: calc(30%);
    padding-right: calc(30%);
    text-align: center;
    padding-top: .5em;
    float:left;
}
#noresults {
    padding-bottom: 25px;
}

.center {
    margin: auto;
    width: 100%;
    position: absolute;
    text-align: center;
}

#browse{
    margin-left:80px
}

#seldep {
    margin-left:10px;
}

#searchgroup{
    margin-top:6px;
}

#searchopts {
    margin-bottom: 15px;
}

#coursedumpholder {
    float: left;
    width: 325px;
    padding-top:30px;
    margin-left:13px;
}

#clist {
    height: calc(1040px - 220px);
    overflow-y: auto;
}

#pastedir {
    margin-top:1px;
}

.removebtn {
    float: right;
}
.removebtn:hover {
    cursor: pointer;
    visibility: visible !important;
}
.removebtn.onschedbox {
    visibility: hidden;
}
.event:hover .onschedbox {
    visibility: visible; !important;
}

#uptodate {
    padding-left: 17px;
    float:left;
    color: #C6C6C6;
}

.list {
    border-radius: 5px;
    color:white;
    padding: 3px 3px 3px 3px;
    margin-bottom: 5px;
    border: 2px solid black;
}

.active{
    border: 2px dashed white !important;
}

.list:hover .glyphicon-remove-circle{
    visibility: visible;
}

.glyphicon-remove-circle{
    visibility: visible;
}

.ctitle { /*for <td>*/
    width: 400px;
}

.tnum {
    width: 50px;
    text-align: center;
}

.tcenter {
    text-align: center;
}

.cal_header {
    float:left;
    width: 12%;
    text-align: center;
    margin-right: 4%; /*VERY IMPORTANT FOR EVENT PUSHING */
    font-weight: bold;
    border: 1px solid black;
}

.time{
    clear:both;
    width: calc(100% - 20px);
    height: 59px;
    border-top: 1px solid #E6E6E6;      
    position: relative;
    float: left;
}



/* ^ space between times = 50px; box including space and 1px border = 52px */
/* the insertion in HTML div time slots determines the y, the time; css determines the x, the day */
/* for the following, heights set in html: */
.m{
    left: calc(16% - 5pt);
}
.t{
    left: calc((16% - 1.3pt)*2);
}
.w{
    left: calc((16% - 0pt)*3);
}
.r{
    left: calc((16% + 0.6pt)*4);
}
.f{
    left: calc((16% + 0.9pt)*5);
}

.event{
    width: 12.4%;
    margin-left: 10px;
    float:left;
    position: absolute;
    margin-right: 20px;
}

div.overlapmember1e{
    width: calc(12.4%);
    margin-left: calc(10px);
}
div.overlapmember2e{
    width: calc(12.4%/2);
    margin-left: calc(12.4%/2 + 10px);
}