@media (min-width: 1365px) {
    #calendar {
        width: calc(90% - 325px);
        height: 1040px;
        padding-top: 30px;
        float: left;
        margin-left: 3.5%;
    }

    #coursedumpholder {
        float: left;
        width: 325px;
        padding-top:30px;
    }
}

@media (min-width: 900px) and (max-width: 1364px) {
    #calendar {
        width: calc(80%);
        height: 1040px;
        padding-top: 30px;
        float: left;
        margin-left: 2%;
    }

    #coursedumpholder {
        float: left;
        width: 15%;
        padding-top:30px;
    }
}


#logo{
    max-width: 1200px;
    max-height: 196px;
    width: 100%;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#scheduler {
    width: 90% !important;
}

#loading {
    background-color: white;
}

#showbar{
    height: 40px;
    color: white;
    font-weight: 500;
}

#moreinfobutton {
    color: #A6A6A6;
    font-weight: lighter;
    font-size: 10px;
    background-color: aliceblue;
    padding: 2px;
    border-radius: 3px;
    cursor: pointer;
}

#coursedumpholder .button {
    width:100%;
}

#all{
    background-color: #10458B;
    border-right: 1px solid white;
    height: 39px;
    cursor: pointer;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: .5em;
    float:left;
    text-align: center;
}
#more{
    background-color: #10458B;
    border-left-style: none;
    height: 39px;
    cursor: pointer;
    text-align: center;
    padding-top: .5em;
}
#noresults {
    padding-bottom: 25px;
}

#browse{

}

#seldep {
    margin-top: 20px;
    margin-bottom: 10px;
    width: 100%;
}

#departmentname {

}

#searchgroup{
    margin-top:6px;
    width: 100%;
    text-align: center;
}

#search {
    width: 100%;
}

#searchopts {
    margin-bottom: 15px;
}

#clist {
    height: calc(1040px - 220px);
    overflow-y: auto;
    margin-top: 35px;
}

#pastedir {
    margin-top:1px;
}

.removebtn {
    float: right;
}
.removebtn:hover, .removebtn:active {
    cursor: pointer;
    visibility: visible !important;
}
.removebtn.onschedbox {
    visibility: hidden;
}
.event:hover .onschedbox, .event:active .onschedbox {
    visibility: visible; !important;
}

#uptodate {
    padding-left: 17px;
    float:left;
    color: #C6C6C6;
}

.list {
    border-radius: 5px;
    color:white;
    padding: 3px 3px 3px 3px;
    margin-bottom: 5px;
    border: 2px solid black;
    /*its width is bound to #coursedumpholder's width*/
}

.active{
    border: 2px dashed white !important;
}

.list:hover .glyphicon-remove-circle, .list:active .glyphicon-remove-circle {
    visibility: visible;
}

.glyphicon-remove-circle{
    visibility: visible;
}

.ctitle { /*for <td>*/
    width: 400px;
}

.tnum {
    width: 50px;
    text-align: center;
}

.tcenter {
    text-align: center;
}

.cal_header {
    float:left;
    width: 12%;
    text-align: center;
    margin-right: 4%;
    font-weight: bold;
}

.time{
    clear:both;
    width: calc(100% - 20px);
    height: 59px;
    border-top: 1px solid #E6E6E6;
    position: relative;
    float: left;
}

/* the insertion in HTML div time slots determines the y, the time; css determines the x, the day */
.m{
    left: calc(16% - 5pt);
}
.t{
    left: calc((16% - 1.3pt)*2);
}
.w{
    left: calc((16% - 0pt)*3);
}
.r{
    left: calc((16% + 0.6pt)*4);
}
.f{
    left: calc((16% + 0.9pt)*5);
}

.event{
    width: 12.4%;
    margin-left: 10px;
    float:left;
    position: absolute;
    margin-right: 20px;
    overflow: auto;
}
.event:hover, .event:active {
    width: 12.4% !important;
    height: 150% !important;
    background-color: #A6A6A6 !important;
    color: black !important;
    z-index: 1000 !important;
}
